* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}

body {
    color: #000;
}

header {
    background-color: rgb(255, 163, 130);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 24px;
    padding-bottom: 24px;
}

header a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 31px;
    padding: 24px 80px 120px 80px;
    position: relative;
}

h1,
h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo  {
    line-height: 150%;
    margin-bottom: 32px;
    font-style: inherit;
    font-weight: bolder;
}

.botao{ 
    background-color: #ff7190;
    color: #ffffff;
    border-radius: 8px;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente{
    background-color: transparent;
    color: #FF0000;
    padding: 32px 64px;
    margin-left: 180px;
    text-underline-offset: 4px;
    text-decoration: none;
    font-weight: bold;
    position: relative;

}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -5;
    
}

#clinica    {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica li { 
    margin-bottom: 16px;
    margin-left: 32px;
    font-family: 'montserrat';
    font-weight: bold;
}

#farmacia   {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: auto;
}

#duvidas { 
    display: flex;
    align-items: center;
    gap: 64px  ;
    padding:64px 80px;
 }

.duvida h3 { 
    border: 2px solid #FF7256;
    border-radius: 8px;
    cursor: pointer;
}

#duvida-img { 
    position: relative;
    top: 32px;  
    right: 32px;

 }

 .duvida .paragrafo {
    border-right: 3px solid #FF7256;
    border-bottom: 3px solid #FF7256;
    border-left: 3px solid #FF7256;
    border-radius: 0 0 8px 8px;
    margin: -10px;
    font-weight: bold;
 }

 footer{
    background-color: rgb(250, 169, 140);
    display:flex;
    justify-content: space-between;
    gap: 80px;  
    padding: 25px 80px;
    font-weight: 600;
 }

 footer .pipoca {
    text-decoration: none;
    padding: 1px;
    font-weight: 600;
    font-size: small;
    display: block;

 }

 footer .titulo{
    font-weight: bolder;
    margin-bottom: 12px;
 }

 footer p{
    margin-bottom: 16px;
 }

 #copyright {
    background-color: rgb(44, 46, 68);
    text-align: center;
    padding: 25px;
    font-style:italic

 }